<!-- http://localhost:3000/fabricantes    rota para acessar essa pagina não está funcionando a rota -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/view/fabricantes/style-listFab.css">;
<body>
    <ul>
    <% for(let i = 0; i < developers.length; i++) { %>
        <ol>
            <p>Nome: <%= developers[i].nome %></p>
            <form action="/fabricantes/deletar/<%= developers[i].id %>?_method=DELETE" method="post">
                <button type="submit">Deletar Usuario</button>
            </form>
        </ol>
        <% } %>
    </ul>
    <button><a href="fabricantes/cadastrar">Cadastrar novo Fabricante</a></button>
    <%- include('../partials/footer') %>
</body>
</html>