<!-- http://localhost:3000/clientes    rota para acessar essa pagina não está funcionando a rota -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/clientes/style-listClients.css">;
<link rel="stylesheet" href="/css/style-index.css">;
<body>
    <div class="containerMaster">
        <div class="containerOne">
            <ul class="containerContent">
                <h3>Lista de clientes</h3>
            <% for(let i = 0; i < users.length; i++) { %>
                <li>
                    <p>Nome: <%= users[i].nome %></p>
                    <p>Sobrenome: <%= users[i].sobrenome %></p>
                    <p>Email: <%= users[i].email %></p>
                    <p>CPF: <%= users[i].cpf %></p>
                    <p>Telefone: <%= users[i].telefone %></p>
                    <p>Data de Nascimento: <%= users[i].data_nascimento %></p>
                    
                    <button class="containerBtn">
                        <a href="/clientes/editar/<%= users[i].id %>">
                        Editar Cliente
                        </a>
                    </button>
                    <form action="/clientes/deletar/<%= users[i].id %>?_method=DELETE" method="POST">
                        <button class="containerBtnOne" type="submit">Deletar Cliente</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
            <button class="containerBtn" id="btnCadastrar">
                <a href="/clientes/cadastrar">Cadastrar novo Cliente</a>
            </button>
    </div>
<%- include('../partials/footer') %>
</body>
</html>