<!-- http://localhost:3000/clientes    rota para acessar essa pagina não está funcionando a rota -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/view/clientes/style-listClients.css">;
<body>
    <div class="containerMaster">
        <ul>
            <% for(let i = 0; i < users.length; i++) { %>
                <div class="containerOne">
                    <p>Nome: <%= users[i].nome %></p>
                    <p>Sobrenome: <%= users[i].sobrenome %></p>
                    <p>Email: <%= users[i].email %></p>
                    <p>CPF: <%= users[i].cpf %></p>
                    <p>Telefone: <%= users[i].telefone %></p>
                    <p>Data de Nascimento: <%= users[i].data_nascimento %></p>
                    
                    <button>
                        <a href="/clientes/editar/<%= users[i].id %>">
                        Editar Usuario
                        </a>
                    </button>
                    <form action="/clientes/deletar/<%= users[i].id %>?_method=DELETE" method="post">
                        <button type="submit">Deletar Usuario</button>
                    </form>
                </li>
                </div>
                <li>
                <% } %>
        </ul>
            <button>
                <a href="/clientes/cadastrar">Cadastrar novo Usuario</a>
            </button>
    </div>
<%- include('../partials/footer') %>
</body>
</html>