<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - DH Games</title> 
    <link rel="stylesheet" href="/css/style-chart.css">
    
    <script href="./index.js"></script>

    

    
</head>
<body>

    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    
   
    <main>
        <form action="/carrinho" method="post">
            <div class="pai">
                <div class="filho1">
                    <h2 class="LeveTambem">Carrinho</h2>
                        <div class="images" id="productList">
                            <% cart.forEach(function(item) { %>                  
                                <div class="produto">
                                    <span class="nome" name="nome">Nome:
                                        <%= item.nome %>
                                    </span>
                                        <div class="produtos">
                                            <img class='imagem' src="/productsImg/<%= item.imagem %>" style="width:100%">
                                        </div>
                                <span class="preco" name="preco">Valor:<%= item.valor %>
                                </span>
                                </div>
                            <% }); %> 
                        </div>
                            <div id="totalValue">
                                <h2 nome="valor">Total da sua compra:</h2>
                                    <%= total %>
                                <br>
                                    <button type="submit" id="completeOrder">
                                    Finalizar compra</button>
                            </div>
                </div>
            </div>
        </form>
    </main>
    <footer id="contact">

        <%- include('./partials/footer') %>
    
        </footer>

    <script src="../javascript/cart.js"></script>
</body>

</html>

