<%- include('./partials/head') %>
<%- include('./partials/header') %>

<script src="/javascript/zipCodeUsers.js" defer></script>
<link rel="stylesheet" href="/css/style-formLogin.css">;
<link rel="stylesheet" href="/css/style-index.css">;
<body>
    <div class="containerOne">
        <div>
            <h2 class="titulo">Meu Cadastro</h2>
            <% if(typeof errors !== 'undefined') { %>
                <% for(let error in errors){ %>
                    <%= error %>
                    <%= errors[error].msg %>
                <% } %>
                <% } %>
        </div>
        <form method="POST" action="/clientes/endereco">
            <div class="mainForm">
                <div class="grupoDois">
                    <fieldset>
                        <span class="info"><strong> Endereço:</strong></span>
                            <br>
                            <label for="nome">CEP:</label>
                            <input type="number" name="CEP"size="40" maxlength="100" id="cep" >
                            <br>
                            <label for="nome">Endereço:</label>
                            <input type="text" name="endereco" size="40" maxlength="100" id="endereco">
                            <br>
                            <label for="nome">Número:</label>
                            <input type="text" name="enderecoNumber" size="40" maxlength="100" >
                            <br>
                            <label for="nome">Complemento:</label>
                            <input type="text" name="complemento" size="40" maxlength="100" >
                            <br>
                            <label for="nome">Bairro:</label>
                            <input type="text" name="bairro" size="40" maxlength="100" id="bairro">
                            <br>
                            <label for="nome">Cidade:</label>
                            <input type="text" name="cidade" size="40" maxlength="100" id="cidade">
                            <br>
                            <label for="nome">Estado:</label>
                            <input type="text" name="state" size="40" maxlength="100" id="estado">
                            <br>
                            <label for="nome">Referência:</label>
                            <input type="text" name="referencia" size="40" maxlength="100" >
                    </fieldset>
                </div>      
        </form>
    </div>
        <div class="botao">
            <button type="submit" class="cadastraUsuario">Cadastrar</button>
        </div>
    </div>
        
<%- include('./partials/footer') %>                
</body>
</html>