<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - DH Games</title>
    <link rel="stylesheet" href="/css/style-index.css">
    <link rel="stylesheet" href="/css/style-order.css">
    
    
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    <main>
      <div class="confirm-pedidos">
          <div>
              <img src="/img/controle-icon.png" alt="">
              <h3>Numero do pedido: xxxx</h3>
              <p>Acompanhe o status do mesmo através do link da pagina de acompanhamento de pedidos ou se preferir, entre em contato conosco através dos canais de atendimento da página.</p>
            </div>
            <br>
              <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="th">Pedido</th>
                        <th scope="col" class="th">Quantidade</th>
                        <!-- <th scope="col" class="th">Valor Unitário</th> -->
                        <th scope="col" class="th">Valor Total</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i = 0; i < order.length; i++) { %>
                        <tr>
                            <td scope="row"><%= order[i].id %></td>
                            <td scope="col"><%= order[i].quantidade %></td>
                            <!-- <td scope="col"><%= order[i].valor_unitario %></td> -->
                            <td scope="col"><%= order[i].valor_total %></td>
                        </tr>
                    <% } %>
                </tbody>
        </table>
    </div>
    </main>
    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>




