<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/style-productCategories.css">
<script src="/javascript/cart.js"></script>
    
</head>

<body>
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1>Categorias</h1>
        <div id="rpg">
        <p>RPG - 
        <hr><span id="textorpg">Conheça nossos jogos de RPG</span>
        <span id="jogosrpg">
            <% let categories = []; %>
            <% for(var i=0; i < products.length; i++ ){ %>
                <% if(products[i].categoria == 'rpg'){ %>
                <% categories.push(products[i]) %>
                    <p>Nome: <%= products[i].nome %></p>
                    <p>Categoria: <%= products[i].categoria %></p>
                    <p>Valor: <%= products[i].valor %></p>
                    <p>Descrição: <%= products[i].descricao %></p>
                    <p>Console: <%= products[i].console %></p>
                    <br>
                <% } %>
            <% } %>
        <hr> Adquira já o seu!</span> 
    </p>
    <button id="mostrarJogosrpg" onclick="mostrarJogosRPG()">Mostrar Jogos</button>
    <br></div>
    <div id="fps">
    <p>FPS - 
    <hr><span id="textofps">Conheça nossos jogos de FPS</span>
    <span id="jogosfps">
            <% for(var i=0; i < products.length; i++ ){ %>
                <% if(products[i].categoria == 'fps'){ %>
                <% categories.push(products[i]) %>
                    <p>Nome: <%= products[i].nome %></p>
                    <p>Categoria: <%= products[i].categoria %></p>
                    <p>Valor: <%= products[i].valor %></p>
                    <p>Descrição: <%= products[i].descricao %></p>
                    <p>Console: <%= products[i].console %></p>
                    <br>
                <% } %>
            <% } %>
    <hr> Adquira já o seu!</span> 
</p>
<button id="mostrarJogosfps" onclick="mostrarJogosFPS()">Mostrar Jogos</button>
<hr></div>
    </main>

<script src="/javascript/productCategories.js"></script>
<footer id="contact">
    <%- include('./partials/footer') %>
</footer>
</body>
</html>
