
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/style-productListing.css">

<script src="/javascript/cart.js"></script>
<%- include('./partials/header') %>
<body>
    <main>
        <div class="games">
            <h1>Lista de Produtos</h1>
            <form action="/allproducts/search" method="get" class="form_search">
                <input type="text" name="key" id="" class="" placeholder="Pesquise um produto">
                <button type="submit" class="">Buscar</button>
            </form>
            <button><a href="/allproducts/categories" target="_blank">Categorias</a></button>
            <button><a href="/allproducts/offers" target="_blank">Ofertas</a></button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="th">Nome</th>
                            <th scope="col" class="th">Categoria</th>
                            <th scope="col" class="th">Valor</th>
                            <!-- <th scope="col" class="th">Descrição</th>
                            <th scope="col" class="th">Console</th> -->
                            <th scope="col" class="th">Ações</th>
                            <th scope="col" class="th">Comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < products.length; i++) { %>
                            <tr>
                                <td scope="row"><%= products[i].nome %></td>
                                <td scope="col"><%= products[i].categoria %></td>
                                <td scope="col"><%= products[i].valor %></td>
                                <td scope="col"><a href="/allproducts/detail/<%= products[i].id %>" target="_blank">Ver Dados</a></td>
                                <td>
                                    <button 
                                        type="button"
                                        onclick="handleAddCart({
                                            id: <%= products[i].id %>, 
                                            name:'<%= products[i].nome %>', 
                                            value: <%= products[i].valor %>, 
                                            genre: '<%= products[i].categoria %>', 
                                            description: '<%= products[i].descricao %>', 
                                            image: '<%= products[i].imagem %>'
                                        })"
                                    >
                                        Adicionar ao Carrinho
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <% for(let nrPage = 1; nrPage <= totalPages; nrPage++) { %>
                            <ol class="page-item"><a class="page-link" href="?page=<%= nrPage %>"><%= nrPage %>></a></ol>
                        <% } %>
                    </ul>
                </nav>
        </div>

        
        <!-- <div class="pacman">
            <img left src="/img/icons/pacman.png" alt="imagem de fundo">
        </div> -->
    </main>
<%- include('./partials/footer') %>
</body>
</html>