<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style-formProducts.css">
</head>
<body>
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    <main>
        <div class="productsForm">
            <div class="formToCreate">
            <h2>Novo cadastro de produtos:</h2>
            <br>
            <% if(typeof errors !== 'undefined'){ %>
                <ul>
                    <% for (let error in errors){ %>
                    <li>
                    <b><%= error %></b>
                    <%= errors[error].msg %>
                    </li>
                    <%} %>
                </ul>
            <% } %>  
            <form action="/createproduct" method="post" enctype="multipart/form-data">
                <label for="">Nome do Produto:</label>
                <br>
                <input type="text" name="produtoNome"/>
                <br>
                <label for="">Valor do produto:</label>
                <br>
                <input type="text" name="produtoValor"/>
                <br>
                <label for="">Categoria:</label>
                <br>
                <input type="text" name="produtoCategoria"/>
                <br>
                <label for="">Descrição:</label>
                <br>
                <input type="text" name="produtoDescricao"/>
                <br>
                <label for="">Quantidade:</label>
                <br>
                <input type="number" name="produtoQuantidade"/>
                <br>
                <label for="">Console:</label>
                <br>
                <input type="text" name="produtoConsole"/>
                <br>
                <br>
                <label for="">Forneça a imagem do produto a ser cadastrado:</label>
                <br>
                <br>
                <input type="file" name="imgJogo"/>
                <br>
                    <button type="submit">Cadastrar</button>                
            </form> 
            </div> 
        </div>
    </main>
    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
