<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style-formProducts.css">
</head>
<body>
    
    <header>
        <%- include('./partials/head') %>
        <%- include('./partials/header') %>
    </header>
    
    <div class="productsForm">
    
        <div class="formToChange">
            <h2>Alteração de cadastro:</h2>
            <br>
            <form action="/productform/update/<%= products.id %>?_method=PUT" method="post">
                <label for="">Nome do Produto:</label>
                <br>
                <input type="text" name="nomeProdutoCadastrado" value="<%= products.nome %>"/>
                <br>
                <label for="">Valor do produto:</label>
                <br>
                <input type="text" name="valorProdutoCadastrado" value="<%= products.valor %>"/>
                <br>
                <label for="">Categoria:</label>
                <br>
                <input type="text" name="categoriaProdutoCadastrado" value="<%= products.categoria %>"/>
                <br>
                <label for="">Descricao:</label>
                <br>
                <input type="text" name="descricaoProdutoCadastrado" value="<%= products.descricao %>"/>
                <br>
                <label for="">Saldo em estoque:</label>
                <br>
                <input type="number" name="saldoProdutoCadastrado" value="<%= products.quantidade %>"/>
                <br>
                <label for="">Console:</label>
                <br>
                <input type="text" name="consoleProdutoCadastrado" value="<%= products.console %>"/>
                <br>
                <button type="submit">Salvar alterações</button>                    
            </form> 
        </div>
    </div>

    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
