<%- include('./partials/head') %>
<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/style-viewProduct.css">
    <main>
        <div class="gamesList">
            <h2>Produtos Cadastrados</h2>
            <ul>
        <% for(let i = 0; i < products.length; i++) { %>
            <li class="productsList">
            <p>Nome: <%= products[i].nome %></p>
            <p>Categoria: <%= products[i].categoria %></p>
            <p>Valor: <%= products[i].valor %></p>
            <p>Descrição: <%= products[i].descricao %></p>
            <p>Quantidade: <%= products[i].quantidade %></p>
            <p>Console: <%= products[i].console %></p>
            <button><a href="/productform/update/<%= products[i].id %>">
                Editar Produto
            </a></button>
            <form action="/product/deletar/<%= products[i].id %>?_method=DELETE" method="post">
                <button type="submit">Deletar Produto</button>
            </form>
        </li>
        <% } %>
        </ul>
        </div>
    </main>
    <footer id="contact">
        <div class="footerChild">
            <h4>Beneficios</h4>
            <ul>
                <li>Garantia de qualidade</li>
                <li>Melhor opção do mercado</li>
                <li>Entrega para todo o Brasil</li>
            </ul>
<%- include('./partials/footer') %>
</body>
</html>
