<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DH Games</title>
    <link rel="stylesheet" href="/css/style-viewProduct.css">
    
    
</head>
<body>
    
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="gamesList">
            <h1>Produtos Cadastrados</h1>
            <ul>
        <% for(let i = 0; i < products.length; i++) { %>
            <li class="productsList">
            <img src="/img/images.png" alt="">
            <p>Nome: <%= products[i].nome %></p>
            <p>Valor: <%= products[i].valor %></p>
            <p>Quantidade: <%= products[i].quantidade %></p>
            <div class="buttons">
            <button><a href="/productform/update/<%= products[i].id %>">
                Editar Produto
            </a></button>
            <form action="/product/deletar/<%= products[i].id %>?_method=DELETE" method="post">
                <button type="submit">Deletar Produto</button>
            </div>
            </form>
        </li>
        <% } %>
        </ul>
        </div>
    </main>
    <footer id="contact">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
