<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/admin/logPage.css">;
<link rel="stylesheet" href="/css/style-index.css">;

<body>
    <main>
        <form action="/entrar/admin/centraladmin/usuario/editar/<%= user.id %>?_method=PUT" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="<%= user.nome %>" />
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= user.email %>" />
    </div>
    <button type="submit">Salvar Alterações</button>
    </form>
</main>
</body>
</html>