<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/clientes/style-listClients.css">;
<link rel="stylesheet" href="/css/style-index.css">;
</head>
<body>
    <div class="containerMaster">
        <div class="containerOne">
            <ul class="containerContent">
                <h3>Lista de Usuario</h3>
                <% for(let i = 0; i < users.length; i++) { %>
                <li>
                    <p>Email: <%= users[i].email %></p>
                    <p>Nome: <%= users[i].nome %></p>
                    <button>
                        <a href="/entrar/admin/centraladmin/usuario/editar/<%= users[i].id %>">
                        Editar Usuario
                        </a>
                    </button>
                    <form action="/entrar/admin/centraladmin/usuario/deletar/<%= users[i].id %>?_method=DELETE" method="post">
                    <button type="submit">Deletar Usuario</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
        <button class="containerBtn"><a href="/entrar">Cadastrar novo Usuario</a></button>
    </div>
<%- include('../partials/footer') %>
</body>
</html>